KiCAD/ardHighVoltageProgrammer/ardHighVoltageProgrammer-backups/
KiCAD/ardHighVoltageProgrammer/fp-info-cache
KiCAD/avrHVRescueShield2/avrHVRescueShield2-backups/
KiCAD/ardHighVoltageProgrammer/ardHighVoltageProgrammer.kicad_prl
*kicad_pcb.lck
*kicad_prl
*fp-info-cache
KiCAD/ISP_Fuse_Rescue/ISP_Fuse_Rescue-backups/
KiCAD/ISP_Fuse_Rescue/Gerber/
*dsn
*kicad_sch-bak
*round-tracks-config
*rules
*ses
*-cache.lib
*kicad_pcb-bak
*-rescue.dcm
*.sch-bak
*-rescue.lib
.gitignore
*gui_defaults.par
*sym-lib-table
KiCAD/avrHVRescueShield2/Gerber/
KiCAD/avrHVRescueShield2/production/
.gitignore
KiCAD/avrHVRescueShield2/avrHighVoltageProgrammer-1.0.zip
KiCAD/avrHVRescueShield2/avrHighVoltageProgrammer-1.1.zip
KiCAD/avrHVRescueShield2/avrHVRescueShield-0.1.zip
KiCAD/avrHVRescueShield2/avrHVRescueShield2-0.2.zip
KiCAD/avrHVRescueShield2/avrHVRescueShield2-1.2.zip
KiCAD/avrHVRescueShield2/avrHVRescueShield2.png
KiCAD/avrHVRescueShield2/avrHVRescueShield2.xml
KiCAD/avrHVRescueShield2-1.0/avrHVRescueShield2-1.0-backups/
KiCAD/avrHVRescueShield2-1.0/avrHVRescueShield2-backups/
KiCAD/avrHVRescueShield2-1.0/avrHVRescueShield2-smd-backups/
KiCAD/avrHVRescueShield2-1.0/Gerber/
.gitignore
KiCAD/avrHVRescueShield2-1.0/avrHighVoltageProgrammer-1.0.zip
KiCAD/avrHVRescueShield2-1.0/avrHighVoltageProgrammer-1.1.zip
KiCAD/avrHVRescueShield2-1.0/avrHVRescueShield-0.1.zip
KiCAD/avrHVRescueShield2-1.0/avrHVRescueShield2-0.2.zip
KiCAD/avrHVRescueShield2-1.0/avrHVRescueShield2-1.0.xml
KiCAD/avrHVRescueShield2-smd/avrHVRescueShield2-backups/
KiCAD/avrHVRescueShield2-smd/avrHVRescueShield2-smd-backups/
KiCAD/avrHVRescueShield2-smd/Gerber/
.gitignore
KiCAD/avrHVRescueShield2-smd/avrHighVoltageProgrammer-1.0.zip
KiCAD/avrHVRescueShield2-smd/avrHighVoltageProgrammer-1.1.zip
KiCAD/avrHVRescueShield2-smd/avrHVRescueShield-0.1.zip
KiCAD/avrHVRescueShield2-smd/avrHVRescueShield2-0.2.zip
KiCAD/avrHVRescueShield2-smd/avrHVRescueShield2-smd.xml
