KiCAD/ardHighVoltageProgrammer/ardHighVoltageProgrammer-backups/
KiCAD/ardHighVoltageProgrammer/fp-info-cache
KiCAD/avrHVRescueShield2/avrHVRescueShield2-backups/
KiCAD/ardHighVoltageProgrammer/ardHighVoltageProgrammer.kicad_prl
KiCAD/avrHVRescueShield2/~avrHVRescueShield2.kicad_pcb.lck
KiCAD/avrHVRescueShield2/~avrHVRescueShield2.kicad_sch.lck
KiCAD/avrHVRescueShield2/avrHVRescueShield2.kicad_prl
KiCAD/avrHVRescueShield2/fp-info-cache
