KiCAD/ardHighVoltageProgrammer/ardHighVoltageProgrammer-backups/
KiCAD/ardHighVoltageProgrammer/fp-info-cache
KiCAD/avrHVRescueShield2/avrHVRescueShield2-backups/
KiCAD/ardHighVoltageProgrammer/ardHighVoltageProgrammer.kicad_prl
KiCAD/avrHVRescueShield2/~avrHVRescueShield2.kicad_pcb.lck
KiCAD/avrHVRescueShield2/~avrHVRescueShield2.kicad_sch.lck
KiCAD/avrHVRescueShield2/avrHVRescueShield2.kicad_prl
KiCAD/avrHVRescueShield2/fp-info-cache
KiCAD/ISP_Fuse_Rescue/ISP_Fuse_Rescue-backups/
KiCAD/ISP_Fuse_Rescue/fp-info-cache
KiCAD/ISP_Fuse_Rescue/ISP_Fuse_Rescue.kicad_prl
